:root {
  --box-size: 50px;
  --box-color: #eeeeee;

  --wrapper-padding: 70px;
  --wrapper-color: #ffffff;

  --font: 'Ubuntu', 'Arial', sans-serif;
}

body {
  padding: var(--box-size);
  background-color: var(--box-color);

  font-family: var(--font);
}

.wrapper {
  padding: var(--wrapper-padding);
  background-color: var(--wrapper-color);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 70px;
}

.about {
  grid-column: span 9;
}

.about__name {
  font-size: 66px;
  line-height: 70px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.about__lead {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  font-weight: 300;
}

.about__text {
  font-size: 26px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  font-weight: 300;

  position: relative;
}

.about__text::before {
  content: '';
  position: absolute;
  top: -35px;
  left: 0;
  width: 30px;
  height: 6px;
  background-color: #898989;
}

.social {
  grid-column: span 3;

  padding: 40px;
  background-color: #f2fff0;
}

.social__title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: ;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.social__list:last-child {
  margin-bottom: 0
}

.social__item {
  font-size: 15px;
  line-height: 20px;
}

.social__link {
  color: #2ed549;
}

.social__link:hover {
  text-decoration: none;
}

.social__link--bold {
  font-weight: 700;
  text-decoration: none;
}

.block {
  grid-column: span 4;
}

.block__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}

.block__title::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 30px;
  height: 6px;
  background-color: #898989;
}

.instagram {
  margin-top: 20px;
}

.instagram__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  grid-gap: 20px;
}

.instagram__item {
  overflow: hidden;
}

.instagram__item img {
  width: 100%;
  display: block;
  transform: scale(1.2);
}

.music {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.music-loader {
  height: 200px;
  background-color: rgba(0, 255, 0, 0.5);
  animation-name: music-loader;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes music-loader {
  0% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    background-color: rgba(0, 255, 0, 0.5);
  }
}

.music-fail {
  height: 200px;
  background-color: rgba(255, 0, 0, 0.5);
  position: relative;
}

.music-fail::after {
  content: attr(data-error-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ffffff;
}

.music li {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 17px;
}

.music a {
  color: #000000;
}

.music a:hover {
  text-decoration: none;
}

.link a {
  color: #2ed549;
  font-size: 15px;
}

.link a:hover {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
}

.list li {
  margin-bottom: 10px;
  font-size: 15px;
}

.list a {
  color: #2ed549;
}

.sub-block h3 {
  font-size: 15px;
}

.sub-block p {
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.sub-block a {
  color: #2ed549;
}

.sub-block a:hover {
  text-decoration: none;
}
