:root {
  --gap: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.page {
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  padding: var(--gap);

  grid-auto-flow: dense;
  grid-gap: var(--gap);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.item {
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--gap);
  background-color: red;
  color: #ffffff;
  text-align: center;
}

.item--photo {
  display: flex;
  background-color: #cecece;
  background-image: url("../images/1.jpg");
  background-position: center;
  background-size: cover;
  animation-name: photo;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  text-align: left;

  align-content: flex-end;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h1,
p {
  margin: 0;
  color: #ffffff;
}

h1 span,
p span {
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
          box-decoration-break: clone;

  -webkit-box-decoration-break: clone;
}

.item--social {
  transition: all 0.3s linear;

  will-change: background-color transform;
}

.item--social:hover {
  background-color: #000000;
  transform: scale(1.1);
}

.item--social a {
  display: flex;
  height: 100%;
  color: #ffffff;
  font-size: 2rem;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.item-social:hover a {
  text-decoration: none;
}

.item--social span {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.item--facebook {
  background-color: #3b5998;
}

.item--twitter {
  background-color: #4099ff;
}

.item--gh {
  background-color: #24292e;
}

.item--setka {
  background-color: #4a00ff;

  grid-column: auto / span 2;
}

.item--moscowcss {
  background-color: #ff001d;

  grid-column: auto / span 2;
}

.item--moscoding {
  background-color: blue;

  grid-column: auto / span 2;
}

.item--youtube {
  background-color: #b31217;
}

.item--speaker {
  background-color: #00e2b5;
}

.item--ha {
  background-color: #f05a29;
}

.item--instagram {
  position: relative;
  background-color: #cecece;
  background-image: url("../images/instagram.jpg");
  background-position: center;
  background-size: cover;
  font-size: 0;

  grid-column: 4/6;
  grid-row: 4/6;
}

.item--instagram::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}

.item--instagram::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  color: #ffffff;
  content: "Instagram";
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.item--hh {
  background-color: #d10b0f;

  grid-column: auto / span 3;
}

@keyframes photo {
  0% {
    background-image: url("../images/1.jpg");
  }
  33% {
    background-image: url("../images/2.jpg");
  }
  66% {
    background-image: url("../images/3.jpg");
  }
  100% {
    background-image: url("../images/1.jpg");
  }
}

.page--speaker {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media (max-width: 940px) {
  .page {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .item--photo {
    grid-column: 1 / 4;
  }

  .item--instagram {
    grid-row: 4/7;
  }

  .page--speaker {
    display: block;
    overflow: auto;
    height: auto;
  }

  .page--speaker .item {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .item {
    grid-column: auto;
  }

  .item--photo {
    grid-column: 1 / 3;
  }

  .item--instagram {
    grid-row: 4/7;
  }

  .item--hh {
    grid-column: auto / span 3;
  }
}

@media (max-width: 640px) {
  .page {
    display: block;
    overflow: auto;
    height: auto;
  }

  .item--photo {
    height: 300px;
  }

  .item--instagram {
    display: block;
    width: 100%;
    height: 300px;
  }

  .item {
    margin-bottom: 20px;
  }

  .item--social:hover {
    background-color: #000000;
    transform: scale(1);
  }
}
