/*=====================
  Базовый каркас
=====================*/

.wrapper{

}

.container{
  width: 1000px;
  margin: 0 auto;
}

/*=====================
  Стили страниц, лайаты страниц и каскадные модификаторы модулей
=====================*/

/* main page */

.main-page-layout{
	width: 100%;
	height: 100vh;
}

.main-page-top,
.main-page-bottom{
	width: 100%;
	height: 50vh;
	padding: 20px;

	.underline-href{
		position: relative;
		font-size: 40px;

		&:hover{
			.icon-href{
				display: block;
			}
		}
	}
}

.main-page-top{
	background: $main-top-background;

	.underline-href{
		color: $main-top-color;

		@include underline-href-colors($main-top-color, $main-top-background, 3px, 95%);
	}
}

.main-page-bottom{
	background: $main-bottom-background;

	.underline-href{
		color: $main-bottom-color;

		@include underline-href-colors($main-bottom-color, $main-bottom-background, 3px, 92%);
	}
}

.main-cell-top,
.main-cell-bottom{
	width: 100%;
	text-align: center;
}

.main-cell-top{
	vertical-align: top;
}

.main-cell-bottom{
	vertical-align: bottom;
}

.main-h1{
	@include get-font("bold");
	font-size: 70px;
	color: $main-top-color;
}

.main-h2{
	@include get-font("regular");
	font-size: 24px;
	color: $main-bottom-color;
	letter-spacing: 5px;
	word-spacing: 10px;
}

.icon-href{
	position: absolute;
	left: 50%;
	display: none;
	text-indent: -9999px;
}

.icon-top{
	width: 100px;
	height: 82px;
	top: 120%;
	background: url(img/document.svg);
	background-size: 100px 82px;
	margin-left: -50px;
}

.icon-bottom{
	width: 100px;
	height: 82px;
	bottom: 120%;
	background: url(img/document.svg);
	background-size: 100px 82px;
	margin-left: -50px;
}