/*=====================
  Медиа выражения
=====================*/

@media (max-width: 1024px) {

	.icon-href{
		display: block;
	}
	
}

@media (max-width: 450px) {

	.icon-href{
		width: 60px;
		height: 80px;
		margin-left: -30px;

		svg{
			width: 60px;
			height: 80px;
		}
	}

	.main-page-top{

		.underline-href{
			font-size: 24px;
		}
	}

	.main-page-bottom{

		.underline-href{
			font-size: 20px;
		}
	}

	.main-h1{
		font-size: 40px;
	}

	.main-h2{
		font-size: 20px;
		word-spacing: 0px;
	}
	
}