/*=====================
  Медиа выражения
=====================*/

@media (max-width: 1024px) {
	
	// главная
	.icon-href{
		display: block;
	}

	// обо мне

	.about-first-row{
		@include s-8;
	}

	.about-second-row{
		@include s-4;
			
		.col{
			width: 100%;
			padding: 0;

			&:first-child{
				margin-bottom: 20px;
			}
		}
	}
	
}

@media (max-width: 768px) {
	
	// обо мне
	.main-big-header{
		.container{
			text-align: center;
			background: rgba(0,0,0,.5);
		}

		h1{
			font-size: 60px;
			line-height: 80px;
		}

		h2{
			font-size: 35px;
			line-height: 50px;
		}
	}

}

@media (max-width: 450px) {

	.icon-href{
		width: 60px;
		height: 80px;
		margin-left: -30px;

		svg{
			width: 60px;
			height: 80px;
		}
	}

	.main-page-top{
		padding: 10px 0 10px;

		.underline-href{
			font-size: 24px;
		}
	}

	.main-page-bottom{
		padding: 10px 0 10px;

		.underline-href{
			font-size: 20px;
		}
	}

	.main-h1{
		font-size: 36px;
	}

	.main-h2{
		font-size: 20px;
		word-spacing: 0px;
	}


	// обо мне
	.main-big-header{

		h1{
			font-size: 40px;
			line-height: 60px;
		}

		h2{
			font-size: 25px;
			line-height: 35px;
		}
	}

	.about-first-row{
		@include s-12;
		margin-bottom: 40px;
	}

	.about-second-row{
		@include s-12;
			
		.col{
			width: 100%;
			padding: 0;

			&:first-child{
				margin-bottom: 20px;
			}
		}

		.text-block{
			li{
				margin-bottom: 25px;
			}
		}
	}
	
}