/*=====================
  Миксины
=====================*/

/* правильное подчеркивание ссылок */

@mixin underline-href-colors($link_color, $background-color, $size, $position){
	color: $link-color;
	background-image: linear-gradient(rgba($link-color, 0.9) 0%, $link-color 100%);
	background-size: 1px $size;
	background-repeat: repeat-x; 
    background-position: 0 $position;
    text-shadow:	4px 0 $background-color, 
    				3px 0 $background-color, 
    				2px 0 $background-color, 
    				1px 0 $background-color, 
    				-1px 0 $background-color, 
    				-2px 0 $background-color, 
    				-3px 0 $background-color, 
    				-4px 0 $background-color;
	text-decoration: none;

    @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
      background-image: linear-gradient(rgba($link-color, 0.25) 0%, $link-color 100%);
      background-position: 0 93%;
    }
}

// колонки
@mixin s-1{
    width: 8.33%;
}
@mixin s-2{
    width: 16.66%;
}
@mixin s-3{
    width: 25%;
}
@mixin s-4{
    width: 33.33%;
}
@mixin s-5{
    width: 41.66%;
}
@mixin s-6{
    width: 50%;
}
@mixin s-7{
    width: 58.33%;
}
@mixin s-8{
    width: 66.66%;
}
@mixin s-9{
    width: 75%;
}
@mixin s-10{
    width: 83.11%;
}
@mixin s-11{
    width: 91.66%;
}
@mixin s-12{
    width: 100%;
}
@mixin s-20{ 
    width: 20%;
}


/*=====================
  Встраиваемые модули
=====================*/

/* text block */

.text-block{

	h3,
	p,
	li,
	a{
		@include get-font("regular");
		color: $about-text-color;
	}

	h3{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 15px;
	}

	p,
	li{
		font-size: 14px;
		margin-bottom: 15px;
	}

	a{
		font-size: 14px;
		@include get-font("bold");
		color: $about-href-color;
		text-decoration: none;	

		&:hover{
			color: $about-orange;
		}
	}

	ul{
		list-style: none;

		li{
			margin-bottom: 10px;
		}

		a{
			@include get-font("medium");
			color: $about-href-color;
			text-decoration: none;	
			font-size: 16px;
			line-height: 18px;
		}
	}

	&--white{

		h3,
		p,
		li,
		a{
			color: $about-text-color--white;
		}

		ul{
			a{
				color: $about-href-color--white;
			}
		}
	}


}