/*=====================
  Миксины
=====================*/

/* правильное подчеркивание ссылок */

@mixin underline-href-colors($link_color, $background-color, $size, $position){
	color: $link-color;
	background-image: linear-gradient(rgba($link-color, 0.9) 0%, $link-color 100%);
	background-size: 1px $size;
	background-repeat: repeat-x; 
    background-position: 0 $position;
    text-shadow:	4px 0 $background-color, 
    				3px 0 $background-color, 
    				2px 0 $background-color, 
    				1px 0 $background-color, 
    				-1px 0 $background-color, 
    				-2px 0 $background-color, 
    				-3px 0 $background-color, 
    				-4px 0 $background-color;
	text-decoration: none;

    @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
      background-image: linear-gradient(rgba($link-color, 0.25) 0%, $link-color 100%);
      background-position: 0 93%;
    }
}


/*=====================
  Встраиваемые модули
=====================*/