/*=====================
  Базовая типография
=====================*/

@font-face {
  font-family: Muller;
  font-weight: 400;
  font-style: normal;

  src: url(../font/2DF5B4_F_0.woff2) format("woff2"), url(../font/2DF5B4_F_0.woff) format("woff");
}

@font-face {
  font-family: Muller;
  font-weight: 100;
  font-style: normal;

  src: url(../font/2DF5B4_13_0.woff2) format("woff2"), url(../font/2DF5B4_13_0.woff) format("woff");
}

@font-face {
  font-family: Muller;
  font-weight: 500;
  font-style: normal;

  src: url(../font/2DF5B4_2_0.woff2) format("woff2"), url(../font/2DF5B4_2_0.woff) format("woff");
}

@font-face {
  font-family: Muller;
  font-weight: 700;
  font-style: normal;

  src: url(../font/2DF5B4_5_0.woff2) format("woff2"), url(../font/2DF5B4_5_0.woff) format("woff");
}

$base-font: Muller, Arial, sans-serif;

body {
  font-family: $base-font;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
}

strong,
b {
  font-weight: 600;
}
