/*=====================
  Базовая типография
=====================*/

@font-face {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    src: url(../font/2DF5B4_F_0.woff2) format("woff2"), url(../font/2DF5B4_F_0.woff) format("woff")
}

@font-face {
    font-family: Muller;
    font-style: normal;
    font-weight: 100;
    src: url(../font/2DF5B4_13_0.woff2) format("woff2"), url(../font/2DF5B4_13_0.woff) format("woff")
}

@font-face {
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    src: url(../font/2DF5B4_2_0.woff2) format("woff2"), url(../font/2DF5B4_2_0.woff) format("woff")
}

@font-face {
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    src: url(../font/2DF5B4_5_0.woff2) format("woff2"), url(../font/2DF5B4_5_0.woff) format("woff")
}

$base-font: Muller, Arial, sans-serif;

body{
  font-family: $base-font;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
}

strong,
b{
  font-weight: 600;
}

a{

  &:hover{

  }
}

ul{
    li{

    }
}

table{
  td{

  }
}
