
  <div class="container about">
    <h1>Проекты</h1>
    <p>Ссылки на готовую вёрстку некоторых проектов. Часть из них есть в репозитории.</p>
    <div class="social">
      <a class="social-btn social-btn--git" href="https://github.com/tsergeytovarov/">github</a>
    </div>

    <ul class="projects">
      <li><a href="/projects/zm/" target="_blank">Мобильная версия портала ZakaZaka</a></li>
      <li><a href="https://spb.zakazaka.ru/" target="_blank">Сервис для заказа еды Заказака</a></li>
      <li><a href="http://www.pkteatr.ru/" target="_blank">Государственный театр Приют Комедианта</a></li>
      <li><a href="http://www.rhfm.ru/" target="_blank">Официальный сайт Радио Эрмитаж</a></li>
      <li><a href="https://vkino.ru/" target="_blank">Социальная сеть Vkino.ru</a></li>
      <li><a href="http://internetushka.ru/" target="_blank">Интернет провайдер Интернетушка</a></li>
      <li><a href="/projects/gatchina/" target="_blank">Гатчинский музей</a></li>
      <li><a href="/projects/invest/" target="_blank">Инвестиционный портал С-ПБ</a></li>
      <li><a href="http://algebrabrand.ru/" target="_blank">Брендовое агество С-Пб - Алгебра</a></li>
      <li><a href="/projects/ng/" target="_blank">Портал продажи одежды Нинго</a></li>
      <li><a href="/projects/petergof/_tickets.html" target="_blank">Система покупки билетов в музей Петергоф</a></li>
      <li><a href="/projects/zoo/" target="_blank">Портал зоодневник</a></li>
      <li><a href="/portfolio/medic/" target="_blank">Медицинский портал Медикхелп</a></li>
      <li><a href="/portfolio/petr/index.html" target="_blank">Обмен валюты</a></li>
      <li><a href="/portfolio/slavia/" target="_blank">Школа единоборст Славия</a></li>
      <li><a href="/portfolio/mfxromeo/" target="_blank">Промо Dj Romeo</a></li>
      <li><a href="/portfolio/bravat/" target="_blank">Немецкие сместители Bravat</a></li>
      <li><a href="/portfolio/pulkovo/" target="_blank"></a>Мобильная версия аэропорта Пулково</li>
      <li><a href="/portfolio/ipresspad/" target="_blank">Сайт приложения Ipresspad</a></li>
      <li><a href="/portfolio/prosa/" target="_blank">Портал Стихи РУ</a></li>
      <li><a href="/portfolio/mgs/" target="_blank">Московский Графический салон</a></li>
      <li><a href="/portfolio/ter/" target="_blank">Курорт Терийоки С-ПБ</a></li>
      <li><a href="/portfolio/mfxl/" target="_blank">Конкурс красоты MFX Lady</a></li>
      <li><a href="/portfolio/peppers/" target="_blank">Официальный сайт компании Peppers</a></li>
      <li><a href="/portfolio/omega/" target="_blank">Строительная компания Омега</a></li>
      <li><a href="/portfolio/incom/" target="_blank">Агенство недвижисомти Инком-Гарант</a></li>
      <li><a href="/portfolio/vkinofb/" target="_blank">Фейсбук приложение Вкино</a></li>
      <li><a href="/portfolio/ondoclk/profile-edit.html" target="_blank">Личный кабинет сервисв OnDoc</a></li>
      <li><a href="/portfolio/avrora/" target="_blank">Электронные табло С-Пб</a></li>
      <li><a href="/portfolio/meels/" target="_blank">Интернет магазин Meels</a></li>
      <li><a href="/portfolio/absolute/" target="_blank">Интернет магазин - Аюсолют строй</a></li>
      <li><a href="/projects/landing/" target="_blank">Лендинг верстальщиков</a></li>
      <li><a href="/projects/wk/" target="_blank">Лендинг рабочая сила</a></li>
      <li><a href="/projects/pf/" target="_blank">Лендинг Проф Отряд</a></li>
      <li><a href="/portfolio/auto/" target="_blank">Лендинг - Автотуризм</a></li>
      <li><a href="/portfolio/lavanda/" target="_blank">Лендинг - Лаванда</a></li>
      <li><a href="/portfolio/unbmrella/" target="_blank"></a>Лендинг - Umbrella</li>
      <li><a href="/portfolio/lvl/" target="_blank">Лендинг - LVL Project</a></li>
      <li><a href="/portfolio/ondocl/" target="_blank"></a>Лендинг - OnDoc</li>
      <li><a href="/portfolio/yut/" target="_blank"></a>Лендинг - Уютный дом</li>
      <li><a href="/portfolio/wow/" target="_blank"></a>Лендинг - Турниры WOW</li>
      <li><a href="/portfolio/sport/" target="_blank"></a>Лендинг - Altimar</li>
      <li><a href="/portfolio/bulg/" target="_blank"></a>Лендинг - Болгария</li>
      <li><a href="/portfolio/rej/" target="_blank"></a>Лендинг - Полотенцасушила</li>
      <li><a href="/portfolio/aky/" target="_blank"></a>Лендинг - Учебный центр АКУ</li>
      <li><a href="/portfolio/neft/" target="_blank"></a>Лендинг - Поставка нефтепродуктов</li>
      <li><a href="/portfolio/personal/" target="_blank"></a>Лендинг - Персональный</li>
      <li><a href="/portfolio/kurs/" target="_blank"></a>Лендинг - Управление проектами</li>
      <li><a href="/portfolio/golden/" target="_blank"></a>Лендинг - Golden</li>
      <li><a href="/portfolio/water/" target="_blank"></a>Лендинг - Водоснабжение</li>
      <li><a href="/portfolio/vita/" target="_blank"></a>Лендинг - Витадерма</li>
      <li><a href="/portfolio/ningo/" target="_blank"></a>Лендинг - Ningo</li>
      <li><a href="/portfolio/vmeste/" target="_blank"></a>Лендинг - Приложение Вместе</li>
      <li><a href="/portfolio/croice/" target="_blank"></a>Лендинг - Croice</li>
      <li><a href="/portfolio/congress/" target="_blank"></a>Лендинг - Конгресс молодых учёных</li>
      <li><a href="/portfolio/ui/" target="_blank"></a>Лендинг - UI</li>
      <li><a href="/portfolio/mfxindonesia/" target="_blank"></a>Лендинг - MFX Indonesia</li>
      <li><a href="/portfolio/sporthome/" target="_blank"></a>Лендинг - Спортивное оборудование</li>
      <li><a href="/portfolio/credit/" target="_blank"></a>Лендинг - Заявка на кредит</li>
      <li><a href="/portfolio/climat/" target="_blank"></a>Email - Климаторг</li>
      <li><a href="/portfolio/gravitel/" target="_blank"></a>Лендинг - Гравител</li>
    </ul>

  </div>
