
  <div class="container about">
    <h1>Проекты</h1>
    <p>Ссылки на готовую вёрстку некоторых проектов. Часть из них есть в репозитории.</p>
    <div class="social">
      <a class="social-btn social-btn--git" href="https://github.com/tsergeytovarov/">github</a>
    </div>

    <ul class="projects">
      <li><a href="/projects/gatchina/" target="_blank">Гатчинский музей</a></li>
      <li><a href="/projects/invest/" target="_blank">Инвестиционный портал С-ПБ</a></li>
      <li><a href="/projects/landing/" target="_blank">Лендинг верстальщиков</a></li>
      <li><a href="/projects/ng/" target="_blank">Портал продажи одежды Нинго</a></li>
      <li><a href="/projects/petergof/_tickets.html" target="_blank">Система покупки билетов в музей Петергоф</a></li>
      <li><a href="/projects/zoo/" target="_blank">Портал зоодневник</a></li>
      <li><a href="/projects/zm/" target="_blank">Мобильная версия портала ZakaZaka</a></li>
      <li><a href="/projects/wk/" target="_blank">Лендинг рабочая сила</a></li>
      <li><a href="/projects/pf/" target="_blank">Лендинг Проф Отряд</a></li>
    </ul>

  </div>
