
  <div class="container about">
    <div class="row about-picture">
      <div class="col-4">
        <figure class="about-image">
          <img src="../img/me.jpg" alt="Sergey Popov" width="682" height="1024">
        </figure>
      </div>
      <div class="col-8">
        <h1>Sergey Popov</h1>
        <p>Frontend разработчик</p>
        <div class="row">
          <div class="col-4">
            <p><b>23 age<b></p>
          </div>
          <div class="col-8"><p>Moscow</p></div>
        </div>
        <p><b>Основная специализация</b>: вёрстка различных проектов, от крупных сервисов до посадочных страниц и электронных писем.</p>
        <p><b>Ключевые навыки</b>:</p>
        <ul>
          <li>HTML, CSS, JS (+jQuery).</li>
          <li>Методологии БЭМ, MCSS.</li>
          <li>Валидная, кроссбраузерная (ИЕ7), адаптивная, семантическая вёрстка.</li>
          <li>LESS, SASS (SCSS), PostCSS.</li>
          <li>Grunt, Gulp.</li>
          <li>SVG.</li>
          <li>PSD, Illustrator, Sketch.</li>
          <li>Bootstrap (3, 4)</li>
        </ul>
        <p><b>Другие технологии, которые используются реже или не используются</b>:</p>
        <ul>
          <li>Stylus, HAML, Pug, PrePros.</li>
        </ul>
      </div>
    </div>

    <h2>Личностные качества</h2>

    <ul>
      <li>Самоорганизованность и способность организовать других.</li>
      <li>Ответственность за результат.</li>
      <li>Самообучаемость.</li>
      <li>Умение прогнозировать сроки выполнения задачи и выдерживать эти сроки.</li>
    </ul>

    <h2>Таймлайн</h2>

    <div class="timeline">
      <div class="timeline__item"><span>2006 год</span>Первое знакомство с веб-технологиями в НОУ Сегрис. Вёрстка первой страницы с использованием табличной вёрстки.</div>
      <div class="timeline__item"><span>2008 год</span>Поступление на факультет СПО Университета ИТМО. Изучение основ программирования, алгоритмизации, проектирования баз данных. Основные языки C, C++.</div>
      <div class="timeline__item"><span>2009 год</span>Погружение в изучение веб-технологий. Взаимодействие клиента и сервера, работа с PHP и Sql. Погружение в изучение вёрстки, блочная вёрстка.</div>
      <div class="timeline__item"><span>2011 год</span>Начало работы на факультете СПО в качестве специалиста по разработке и поддержке сайтов и веб-приложений факультета.</div>
      <div class="timeline__item"><span>июнь 2012 года</span>Дипломный проект по разработке информационной системы с использованием веб-технологий HTML, CSS, JS и PHP.</div>
      <div class="timeline__item"><span>сентябрь 2012 года</span>Начало работы в студии по разработке сайтов в качестве верстальщика. <br> Работа на факультете СПО в качестве консультанта дипломного проектирования для студентов, разрабатывающих веб-проекты.</div>
      <div class="timeline__item"><span>начало 2013 года</span> Переход на работу в <a href="https://www.veeam.com/ru" target="_blank">Veeam Software</a>. Работа в департаменте интернет-маркетинга frontend разработчиком.</div>
      <div class="timeline__item"><span>июнь 2013 года</span>Успешный выпуск дипломников.</div>
      <div class="timeline__item"><span>декабрь 2013 года</span> Начало работы фрилансером верстальщиком.</div>
      <div class="timeline__item"><span>2014 год</span> Фриланс. Проектная работа в компаниях <a href="https://mfxbroker.com/ru/" target="_blank">MasterForex</a>, студии <a href="http://legion.info/" target="_blank">Легион</a>.</div>
      <div class="timeline__item"><span>середина 2014 года</span> Успешный выпуск очередных дипломников и завершение работы на факультете СПО. За время работы я успел поработать разработчиком, преподавателем, куратором дипломного проектирования, менеджером проектов и маркетологом.</div>
      <div class="timeline__item"><span>середина 2014 года</span> Начало работы наставником на базовм инетнсиве  <a href="https://htmlacademy.ru/intensive/htmlcss" target="_blank">HTML Academy</a>.</div>
      <div class="timeline__item"><span>ноябрь 2014 года</span> Переход на постоянную работу в команду <a href="https://htmlacademy.ru/" target="_blank">HTML Academy</a>. В данный момент я являюсь наставником на базовом и продвинутом интенсивах, вхожу в команду кураторов этих интенсивов. Занимаюсь разработкой учебных материалов для интенсивов, участвую в разработке некоторых курсов и других внутренних проектах команды.</div>
      <div class="timeline__item"><span>середина 2015 года</span> Начал вести свою <a href="https://vk.com/tutor_academy" target="_blank">группу</a> для студентов Академии и всех жалающих изучать вёрстку.</div>
      <div class="timeline__item"><span>июль 2016 года</span> Закончил работу в HTML Academy на постоянной основе. Остался в качестве персонального наставника.</div>
      <div class="timeline__item"><span>июль 2016 года</span> Переезд в Москву.</div>
      <div class="timeline__item"><span>август 2016 года</span> Начало работы в проекте <a href="http://setka.io">Setka</a> в качестве HTML-верстальщика.</div>
    </div>

  </div>
