
  <div class="container about">
    <h1>Студентам</h1>
    <p>Для студентов у меня есть ссылки на полезные материалы, которыми я занимаюсь.</p>
    <div class="social">
      <p>Скринкасты с дополнительными материалами, прмиерами вёрстки.</p>
      <a class="social-btn social-btn--yt" href="http://www.youtube.com/playlist?list=PLQPQDQeOswiX4D7VpMt_C9Cz2Bzdi4Fn3">ютуб</a>
      <p>Группа Вконтакте - Станица наставника</p>
      <a class="social-btn social-btn--vk" href="https://vk.com/tutor_academy">вконтакте</a>
      <p>Репозиторий с дополнительными материалами</p>
      <a class="social-btn social-btn--git" href="https://github.com/tsergeytovarov/htmlacademy-basic-additional-material">github</a>
      <p>Эксклюзивная скидка на интенсивы HTML Academy - код <b>ha-sergey-popov</b>.</p>
    </div>
  </div>
